extends ../layouts/layout_auth
block content
    .container(style='background-color: rgba(0,43,255,0.1); height: 600px; width: 600px;')
        h1(style='text-align: center; padding-top: 80px') Login
        form(style='padding-top: 50px' method="POST" )
            if errors
                each error in errors
                    .alert-danger
                        .text-danger= error
            .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(name='email' type='email' aria-describedby='emailHelp' placeholder='Enter email' value=values ? values.email : "")
                small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
            .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(name='password' type='password' placeholder='Password' value=values ? values.password : "")
            .form-check
                input#exampleCheck1.form-check-input(type='checkbox' name='check')
                label.form-check-label(for='exampleCheck1') Remeber me
            button.btn.btn-primary Login
        .dangky(style='display: flex')
            a.link_subscribe(href='/auth/subscribe') Đăng kí 
            p &nbspnếu chưa có tài khoản
                
