doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='../css/style.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    body
        #nav
            ul.nav-menu
                li.menu-item.brand My contact
                li.menu-item
                    a(href='/') Home
                li.menu-item
                    a(href='/create-user') Create User
                li.menu-item
                    a(href='/auth/login' role="button") Login 
        block content