doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='./public/css/style.css')
        link(rel='stylesheet' type='text/css' href='./public/css/user.index.css')
        script(src='https://kit.fontawesome.com/1524deba00.js' crossorigin='anonymous')
    body
        #nav
            ul.nav-menu
                li.menu-item.brand My contact
                li.menu-item
                a(href='#') Home
                li.menu-item
                a(href='#' role='button')
                    i.fas.fa-address-book &amp;nbsp Thinh
        block content
        #footer
            #footer-head
                #footer-head-contact
                    h3.footer-head-cap Li&ecirc;n h&#x1EC7;
                    p &Dstrok;&#x1ECB;a ch&#x1EC9; : H&#x1ECD;c vi&#x1EC7;n k&#x1EF9; thu&#x1EAD;t qu&acirc;n s&#x1EF1; 236 Ho&agrave;ng qu&#x1ED1;c Vi&#x1EC7;t, B&#x1EAF;c T&#x1EEB; Li&ecirc;m ,  H&agrave; N&#x1ED9;i
                    p &Dstrok;i&#x1EC7;n tho&#x1EA1;i : 0382977766
                    p Email : nguyenthinh16011998@Gmail.com
                    a(href='https://www.instagram.com/thinhby/' target='blank')
                        i.fab.fa-instagram
                    a(href='https://www.facebook.com/Thinhby' target='blank')
                        i.fab.fa-facebook
                    a(href='https://twitter.com/' target='blank')
                        i.fab.fa-twitter
                    a(href='https://www.tumblr.com/' target='blank')
                        i.fab.fa-tumblr
                #footer-head-link
                    h3.footer-head-cap &Dstrok;&#x1AF;&#x1EDC;NG D&#x1EAA;N LI&Ecirc;N K&#x1EBE;T
                    a(href='https://www.facebook.com/Thinhby' target='blank') www.facebook.com
                    hr
                    a(href='https://www.instagram.com/thinhby/' target='blank') www.instagram.com
                    hr
                    a(href='http://mta.edu.vn/' target='blank') mta.edu.vn
                #footer-head-img
                    h3.footer-head-cap &#x1EA2;NH N&#x1ED4;I B&#x1EAC;T
                    img(src='../img/imgfooter/andrew-neel-cckf4TsHAuw-unsplash.jpg')
                    img(src='../img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg')
                    img(src='../img/imgfooter/marvin-meyer-SYTO3xs06fU-unsplash.jpg')
                    img(src='../img/imgfooter/priscilla-du-preez-XkKCui44iM0-unsplash.jpg')
                    img(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
                    img(src='../img/imgfooter/zachary-nelson-98Elr-LIvD8-unsplash.jpg')
            #footer-end
                p#footer-end-text
                    i.far.fa-copyright
                    | 2019, b&#x1EA3;n design &dstrok;&#x1B0;&#x1EE3;c th&#x1EF1;c hi&#x1EC7;n b&#x1EDF;i
                p#footer-end-user Nguy&#x1EC5;n Th&#x1EBF; Th&#x1ECB;nh
