doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        #nav
            ul.nav-menu
                li.menu-item.brand My contact
                li.menu-item
                    a(href='/') Home
                li.menu-item
                    a(href='#') Users
                li.menu-item
                    a(href='/create-user') Create User
        #content
            h1(style='text-align:center') View user
            .profile_user
                span.avata_user
                    img.img_user(src='public/img/72532279_2307939882761756_2286473518457552896_n.jpg' alt='avata')
                    label.brand_user ThinhBy
                .index_user
                    label.label_user T&ecirc;n
                    input.input_user(readonly='' type='text' value=user.name)
                .index_user
                    label.label_user T&ecirc;n ng&#x1B0;&#x1EDD;i d&ugrave;ng
                    input.input_user(readonly='' type='text' value='')
                .index_user
                    label.label_user Trang web
                    input.input_user(readonly='' type='text' value='')
                .index_user
                    label.label_user Email
                    input.input_user(readonly='' type='text' value='')
                .index_user
                    label.label_user &Dstrok;i&#x1EC7;n tho&#x1EA1;i
                    input.input_user(readonly='' type='text' value=user.phone)
                .index_user
                    label.label_user Gi&#x1EDB;i t&iacute;nh
                    input.input_user(readonly='' type='text' value='')
