extends ../layouts/user_layout
block content
    #content
        form(action="/user/addAvata" method="POST" enctype="multipart/form-data")
            .form-group
                label(for='avata') Create avata
                input#exampleFormControlFile1.form-control-file(name='avata' type='file')
            button.btn-sub(type='submit' style='float:left') Submit
        




