doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='../css/style.css')  
        link(rel='stylesheet' type='text/css' href='../css/user.index.css')
        script(src='https://kit.fontawesome.com/1524deba00.js' crossorigin='anonymous')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

    body
        #nav
            ul.nav-menu
                li.menu-item.brand My contact
                li.menu-item
                    a(href='/user/index') Home
                li.menu-item
                    a(href='/user/profile' role='button')
                        i.fas.fa-address-book= user.username
                li.menu-item
                    a(href='/user/logout')
                        i.fas.fa-sign-out-alt Logout  
        #content
            form(action="/user/upload_img" method="POST" enctype="multipart/form-data")
                .form-group
                    label(for='status') Upload status
                    input#exampleFormControlFile1.form-control-file(name='status' type='file')
                button.btn-sub(type='submit' style='float:left') Submit