extends ../layouts/user_layout
block content
    #header
        .area-avata
            a(href='#' style='text-decoration: none;')
                img.avata(src='../img/72532279_2307939882761756_2286473518457552896_n.jpg' title='Edit image')
        .area-text
            .text-1
                p.username= user.username
                a.btn-profile(href='#') Edit profile
                a.btn-profile(href='#') Upload image
            .infor
                p.name= user.name
                p.name &nbsp - &nbsp
                p.name= user.phone
            a(style='text-decoration: none; font-size: 18px;' href=user.web target='blank')= user.web
    .allAvata
        a(href='#')
            img.avata_tiny(src='../img/imgfooter/priscilla-du-preez-XkKCui44iM0-unsplash.jpg' title='Replace avata')
        a(href='#')
            img.avata_tiny(src='../img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg' title='Replace avata')
        a(href='#')
            img.avata_tiny(src='../img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg' title='Replace avata')
        a(href='#')
            img.avata_tiny(src='../img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg' title='Replace avata')
        a(href='#')
            img.avata_tiny(src='../img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg' title='Replace avata')
    .area-status
        h3(style='text-align: center; font-size: 13px;font-family: Arial, Helvetica, sans-serif;')
            i.fas.fa-th
            | &nbspSTATUS
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
