extends ../layouts/user_layout
block content
#header
    .area-avata
        img.avata(src='./public/img/72532279_2307939882761756_2286473518457552896_n.jpg')
    .area-text
        .text-1
            p.username Thinhby
            a.btn-profile(href='#') Edit profile
            a.btn-profile(href='#') Upload image
        .infor
            p.name Nguy&#x1EC5;n Th&#x1EBF; th&#x1ECB;nh
            p.name &amp;nbsp - &amp;nbsp
            p.name 0382977766
        a(style='text-decoration: none; font-size: 18px;' href='https://www.instagram.com/thinhby/' target='blank') www.facebook.com/Thinhby
    .allAvata
        a(href='#')
            img.avata_tiny(src='./public/img/imgfooter/priscilla-du-preez-XkKCui44iM0-unsplash.jpg')
        a(href='#')
            img.avata_tiny(src='./public/img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg')
        a(href='#')
            img.avata_tiny(src='./public/img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg')
        a(href='#')
            img.avata_tiny(src='./public/img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg')
        a(href='#')
            img.avata_tiny(src='./public/img/imgfooter/christin-hume-Hcfwew744z4-unsplash.jpg')
    .area-status
        h3(style='text-align: center; font-size: 13px;font-family: Arial, Helvetica, sans-serif;')
            i.fas.fa-th
            | &amp;nbspSTATUS
        a.link-status(href='#')
            img.img-status(src='./public/img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='./public/img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='./public/img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='./public/img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
