doctype html
html
    head 
        title users
    body
        h1 Hello, i'm ThinhTheNguyen
        ul
            li 
                a(href="/") Home
            li 
                a(href="/users") User list
        form(action="/users/search", method="GET")
            input(type="text",name="q",id="searchbox")
            button Search
        ul
            each user in users
                li= user.name   

        //Code input text trong ô search box vẫn hiện khi click search
        script.
            var input = document.getElementById('searchbox');
            input.addEventListener('change',function(){
                sessionStorage.setItem('draft',input.value);
            });
            input.value = sessionStorage.getItem('draft'); 

            
        